# Python basics
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env
.venv/

# IDE settings
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# Distribution
dist/
build/
*.egg-info/

# DB
*.sqlite3
*.db